  
@font-face {
    font-family: "Lato-Regular";
    src: local("Lato-Regular"),  url("../fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Merriweather-Regular";
    src: local("Merriweather-Regular"), url("../fonts/Merriweather-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Merriweather-Bold";
    src: local("Merriweather-Bold"), url("../fonts/Merriweather-Bold.ttf") format("truetype");
}


.content {
    font-family: "Merriweather-Regular";
}

.content .container-header {
    background-color: var(--bgSite);
    width: 100%;
    padding: 5.5rem 2rem 8.8rem 2rem;
    text-align: center;
}

.content .container-header__info h2 {
    color: var(--title);
    font-family: "Merriweather-Regular";
    font-size: 3.2rem;
    line-height: 4.7rem;
    margin-bottom: 1.8rem ;
}

.content .container-header__info p {
    color: var(--text);
    font-family: "Lato-Regular";
    font-size: 1.8rem;
    line-height: 3.2rem;
    margin-bottom: 3.2rem ;
}

.content .container-header__info button {
    background-color: var(--buttonColor);
    border-radius: .5rem;
    box-shadow: 0px .5rem .5rem rgba(23, 23, 23, 0.1);
    color: var(--white);
    font-family: "Lato-Regular";
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: bold;
    cursor: pointer;
    padding: 1.5rem 5rem;
}

.content .container-header__img {
    background-image: url("../images/image.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    min-height: 25rem;
    margin-top: 10rem;
}

.content .container-cards {
    background-color: var(--white300);
    padding: 7.5rem 2rem;
}

.content .container-cards .card {
    background-color: var(--white);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
}

.content .container-cards .card .area {
    min-height: 20rem;
}

.content .container-cards .card .area.red {
    background: #FF6363;
}

.content .container-cards .card .area.blue {
    background: #63ECFF;
}

.content .container-cards .card .area.pink {
    background: #F363FF;
}

.content .container-cards .card .area.green {
    background: #63FF73;
}

.content .container-cards .card .area.yelow {
    background: #FFDD63;
}

.content .container-cards .card .area.purple {
    background: #6663FF;
}


.content .container-cards .card .text {
    padding: 2.4rem 3.3rem 3.3rem 3.3rem;
}

.content .container-cards .card h2 {
    color: var(--title);
    font-family: "Merriweather-Bold";
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: bold;
    margin-bottom: 2.6rem;
}

.content .container-cards .card p {
    color: var(--text);
    font-family: "Lato-Regular";
    font-size: 1.8rem;
    line-height: 3rem;
}

.content .container-contact {
    background-color: var(--bgSite);
    padding: 8rem 2rem;
}

.content .container-contact h3{
    color: var(--title);
    font-family: "Merriweather-Regular";
    font-size: 3.2rem;
    line-height: 4rem;
    text-align: center;
    margin-bottom: 3.5rem;
}

.content .container-contact form {
    display: flex;
    flex-direction: column;
}

.content .container-contact input {
    font-family: "Lato-Regular";
    background-color: var(--white);
    padding: 2rem;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: var(--text);
    outline: none;
    margin-bottom: 2rem;
    border-radius: .5rem;
}

.content .container-contact input::placeholder {
    color: rgba(110, 114, 117, 0.74);
}

.content .container-contact textarea {
    font-family: "Lato-Regular";
    background-color: var(--white);
    padding: 2rem 2rem 10rem 2rem;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: var(--text);
    outline: none;
    margin-bottom: 4.5rem;
    border-radius: .5rem;
    border:none;
    resize: none;

}

.content .container-contact textarea::placeholder{
    color: rgba(110, 114, 117, 0.74);
}

.content .container-header__info button, .content .container-contact button {
    background-color: var(--buttonColor);
    border-radius: .5rem;
    box-shadow: 0px .5rem .5rem rgba(23, 23, 23, 0.1);
    color: var(--white);
    font-family: "Lato-Regular";
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: bold;
    cursor: pointer;
    padding: 1.5rem 5rem;
}

@media(min-width: 767.98px) {

    .content .container-header {
        display: flex;
        align-items: center;
        padding: 8rem 8rem 8rem 8rem;
        text-align: initial;
        
    }

    .content .container-header__img {
        background-size: contain;
        min-width: 35rem;
        background-position: right;
        margin: 0 0px 0 1.5rem;
    }

    .content .container-cards ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .content .container-cards ul li {
        transform: scale(1.0);
        transition: .5s ease-in-out transform;
    }


    .content .container-cards ul li:hover {
        transform: scale(1.1);
        transition: .5s ease-in-out transform;
    }
    

    .content .container-cards .card {
        max-width: 34rem;
        margin: 1.5rem 1rem 1.5rem 1rem;
    }


    .content .container-contact form {
        max-width: 47rem;
        margin: auto;
    }
}