  
@font-face {
    font-family: "Lato-Regular";
    src: local("Lato-Regular"),  url("../fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Merriweather-Regular";
    src: local("Merriweather-Regular"), url("../fonts/Merriweather-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Merriweather-Bold";
    src: local("Merriweather-Bold"), url("../fonts/Merriweather-Bold.ttf") format("truetype");
}

main {
    font-family: "Merriweather-Regular";
}